@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

.container{
    color: white;
   position: absolute;
   z-index: -5;
   font-size: 9em;
   -webkit-animation:spin 20s linear infinite;
   -moz-animation:spin 20s linear infinite;
   animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.hero-section{
    background:
    linear-gradient(
        rgba(0,0,0,0.1),
          rgba(0,0,0,0.7)
    ),
    url('./Images/LA.jfif') center;
    background-color: black;
    height: 91.6vh;
    min-height: 91.5vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.number-header{
    display: block;
    float: left;
    position: relative;
    transform: translate(100px,-460px);
    font-weight: 70;
    color:white;
    font-size: 15em;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    height: 50vh;
    width: 50vh;
}

.info-under-header{
    display: flex;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 3.5em;
    transform: translate(-340px,450px);
    justify-content: left;
    color: #FFF8DC;
    width: 34%;
}



.image1{
    height: 400px;
    filter: brightness(80%);
}
.image2,.image3{
    height:400px;
    filter: brightness(70%);
}


.right-content-stack{
    display: block;
    position: flex;
    justify-content: right;
    transform: translate(0,15px);
    margin-right: 0%;
    float:right;
    width:40%;
}
.hero-info{
    font-size: 1.7em;
    width: 65%;
    color:white;
    font-weight: 100;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.images{
    display: flex;
    position: relative;
    width: 100px;

    
}
.image-stack__item--bottom{
    position: absolute;
    z-index: -3;
}
.image-stack__item--top{
    position: absolute;
    left: 60%;
    top: 20px;
    z-index: -2;

}
.image-stack__item--top2{
    position: absolute;
    top: 40px;
    left: 120%;

}

.image-stack__item--top3{
    position: absolute;
    top: 60px;
    left: 170%;

}

.image-stack__item--top4{
    position: absolute;
    top: 80px;
    left: 220%;

}

.bottom-hr{
    width: 63%;
    transform: translate(80px,440px);
}


.fade-in-image{
    animation:instant 0.5s;
}
.fade-in-content{
    animation:fadeIn 0.7s;
}

.fade-in-image2{
    animation:instant 0.7s;
}
.fade-in-image3{
    animation: instant 1s;
}

.fade-in-image4{
    animation: instant 1.1s;
}

@keyframes instant{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.desc{
    font-weight: 500;
}

