
@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

.nav{
    display: flex;
    position: fixed;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    z-index: 2;
    
}

.nav-info{  
    color:white;
}

.place{ 
    font-weight: 500;
    font-size: 1.1em;
    text-align:right;
    margin-right: 1%;
    margin-top: -10.5%;
}

.name{
    height: 80px;
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 44%;
 
    
}
