.skills-section{
    z-index: 1;
    background-color: black;
    height: 100vh;
    min-height:100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

.skills-header{
    display: flex;
    transform: translate(0px,-480px);
    font-weight: 70;
    color:white;
    font-size: 17em;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    height: 50vh;
    width: 50vh;
    
}