.skills-section{
    z-index: 1;
    background-color: black;
    height: 100vh;
    min-height:100vh;
    -webkit-box-sizing: border-box;
    font-size: 4em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}


.img{
    height:500px;
    transform: translate(0,150px);
}
